:root {
    --background-color: rgb(67, 64, 64);
    --crazy-color: fuchsia; 
    --light-color: #c1baba; 
    --crazy-selector-color: rgb(28, 151, 151); 
    --tablet: 650px;
    --desktop: 1100px;
}

* {
    box-sizing: border-box;
    border: solid 1px red;

}
body {
    background: var(--background-color);
}

h1

header {
    text-align: center;
    padding: 10px; 
}
    
.snippet-card {
    padding: 0 10px 10px 10px;
    margin: 20px 0;
    border: dashed var(--light-color);
    background-color: var(--background-color);
}
.snippet-header {
    position: relative;
    top: -36px;
    border: solid var(--light-color) 2px;
}
.snippet-discription{
    margin-top: -36px;
    color: var(--crazy-color);
}

.snippet-card:hover {
    box-shadow: 0 0 20px var(--crazy-color);

}

@media screen and (min-width: var(--tablet)) {
    .snippet-card-container {
        display: flex;
        flex-wrap: wrap;
    }
    .snippet-card {
        max-width: 400px;
        margin: 5px;
        background: blue;
    }

}
    




 














  .glow {
    font-size: 80px;
    color: rgb(155, 45, 45);
    text-align: center;
    -webkit-animation: glow 1s ease-in-out infinite alternate;
    -moz-animation: glow 1s ease-in-out infinite alternate;
    animation: glow 1s ease-in-out infinite alternate;
  }
  @-webkit-keyframes glow {
    from {
      text-shadow: 0 0 10px #fff, 0 0 20px #fff, 0 0 30px #e60073, 0 0 40px #e60073, 0 0 50px #e60073, 0 0 60px #e60073, 0 0 70px #e60073;
    }
    
    to {
      text-shadow: 0 0 20px #fff, 0 0 30px #ff4da6, 0 0 40px #ff4da6, 0 0 50px #ff4da6, 0 0 60px #ff4da6, 0 0 70px #ff4da6, 0 0 80px #ff4da6;
    }
  }
  .box{
    width: 320px;
    height: 200px;
    padding: 10px;
    border: 5px solid gray;
    margin: 0;
    border-style: dashed;
  }