:root {
    background-color:rgb(65, 61, 75)

    
    
}
div {
    width: 320px;
    height: 200px;
    padding: 10px;
    border: 5px solid gray;
    margin: 0;
    border-style: dashed;
  }

  h2{
      border: 3px solid;
  }

  .glow {
    font-size: 80px;
    color: rgb(155, 45, 45);
    text-align: center;
    -webkit-animation: glow 1s ease-in-out infinite alternate;
    -moz-animation: glow 1s ease-in-out infinite alternate;
    animation: glow 1s ease-in-out infinite alternate;
  }
  @-webkit-keyframes glow {
    from {
      text-shadow: 0 0 10px #fff, 0 0 20px #fff, 0 0 30px #e60073, 0 0 40px #e60073, 0 0 50px #e60073, 0 0 60px #e60073, 0 0 70px #e60073;
    }
    
    to {
      text-shadow: 0 0 20px #fff, 0 0 30px #ff4da6, 0 0 40px #ff4da6, 0 0 50px #ff4da6, 0 0 60px #ff4da6, 0 0 70px #ff4da6, 0 0 80px #ff4da6;
    }
  }
  .box{
    width: 320px;
    height: 200px;
    padding: 10px;
    border: 5px solid gray;
    margin: 0;
    border-style: dashed;
  }